.mainWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
  height: max-content;
  margin: auto;
}
.rocket-button {
  background: transparent;
  border: 0;
  font-size: 2rem;
  margin: 1rem;
  cursor: pointer;
  position: relative;

  .search {
    width: 3rem;
  }
}
