.searchWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 30px;
  input {
    border: 0;
    border-bottom: 1px solid #fff;
    font-size: 1.2rem;
    padding: 0.7rem 0 0.7rem 0;
    text-align: center;
    background: transparent;
    color: #fff;

    ::placeholder {
      color: #fff;
    }
  }
}
